body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 10px;
  margin: 0;
}

#task-manager {
  background: #fff;
  padding: 20px;
  margin: auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-form {
  margin-bottom: 20px;
}

#task-input {
  padding: 10px;
  width: 55%;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  background: #eee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

body.dark-theme {
  background-color: #333;
  color: #fff;
}

.dark-theme #task-manager {
  background: #222;
  color: #fff;
}

.dark-theme #task-list li {
  background: #444;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

li {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button {
  margin-top: 5px;
  padding: 10px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 325px) {
  #task-input {
    width: 40%;
  }
}

@media screen and (min-width: 325px) and (max-width: 375px) {
  #task-input {
    width: 49%;
  }
}

@media screen and (min-width: 500px) {
  #task-input {
    width: 70%;
  }
}

